@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f3e9e9;
  --foreground: #3a3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-martian-mono);
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #ffffff;
  --color-base-200: #f8f9fa;
  --color-base-300: #e9ecef;
  --color-base-content: #212529;
  --color-primary: #2F5249;
  --color-primary-content: #ffffff;
  --color-secondary: #437057;
  --color-secondary-content: #ffffff;
  --color-accent: #97B067;
  --color-accent-content: #ffffff;
  --color-neutral: #343a40;
  --color-neutral-content: #ffffff;
  --color-info: #17a2b8;
  --color-info-content: #ffffff;
  --color-success: #28a745;
  --color-success-content: #ffffff;
  --color-warning: #FF9A00;
  --color-warning-content: #ffffff;
  --color-error: #dc3545;
  --color-error-content: #ffffff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 2px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-martian-mono), 'Courier New', monospace;
}